

.focal-point {
    display: flex;
    flex-direction: row;
    align-items: center;

    &__button.button {
        margin-left: 5px;
    }
}

.focal-point-modal {
    position: fixed;
    left: 0;
    top: 0; 
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0, 0.3);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1600000;

    &.open {
        display: flex;
    }
    &__inner {
        width: 90vw;
        height: 90vh;
        background-color: #fff;   
        display: flex;
        flex-direction: column;
    }

    &__top {
        height: 50px;
        padding: 0 30px;
        background-color: #fff;   
        h2 {
            color: #1d2327;
            font-size: 1.3em;
            margin: 1em 0;
        }
    }
    &__middle {
        background-color: #fff;   
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 1;
        flex-grow: 0;
        height: calc(100% - 60px - 30px);
    }

    &__bottom {
        background-color: #fff;   
        height: 60px;
        flex-shrink: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0 40px;
    }

    &__btn-save {
        width: 100px;

    }
    
}

.focal-point-preview {
    height: 100%;
    max-height: calc(100% - 20px);
    position: relative;
    img {
        display: block;
        height: 100%;
        width: auto;
        max-height: 100%;
    }

    &__cursor {
        --size: 20px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: calc(var(--size) * 1.8);
        height: calc(var(--size) * 1.8);
        transition: width 0.3s, height 0.3s;
        cursor: pointer;
        background-color: rgba(0, 136, 255, 0.2);
        border: 2px solid white;
        border-radius: 100%;

        &:hover {
            width: calc(var(--size) * 2);
            height: calc(var(--size) * 2);
        }
        
        &:before, &:after {
            display: block;
            content: "";
            height: 1px;
            width: 6px;
            background-color: white;
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
        }
        &:after {
            transform: translate(-50%, -50%) rotate(90deg);
        }

        &.dragging {
            
        }
    }
}